@charset "UTF-8";
ifrema{
	
	
}

section#conteudo {
	width:12000px;
	margin: auto;
padding-left:20px;
	}
	
iframe#frame-esp {
	width:580px;
	height: 280px;
	border:none;
	overflow:hidden;
	padding-right:-10px;
	
	
	
}
iframe#frame-esp::-webkit-scrollbar{
	
	display:none;
}

